      <!-- include header -->
      <%- include('header') %>
      <!-- /include header -->

      <!-- Date -->

      <div class="date" id="date-heading">
        <h1> <%= listTitle %> </h1>
      </div>

      <!-- list form, for data collection -->

      <%- include('listform') %>

    
      <!-- listitems, repeated for every piece of list data -->

      <%- include('listdata') %>

            
      <!-- include footer -->
      <%- include('footer') %>
      <!-- /include footer -->
