      <!-- include header -->
      <%- include('header') %>
      <!-- /include header -->

      <!-- Date -->

      <div class="date" id="date-heading">
        <h1> <%= listTitle %> </h1>
      </div>

      <!-- list form, for data collection -->

      <%- include('listform') %>

    
      <!-- listitems, repeated for every piece of list data, this also means we can't add single id values -->

      <% for(var i = 0; i < listitems.length; i++) { %>
        <% var n = i + 1 %> <!-- seperate value that starts at 1, necessary for unique checkbox id-->
        <!-- loops through every list value based on the list length -->
        <div class="list-container unchecked-list-item <%= listitems[i]._id %>" > <!--class for each checked item to target it-->
            <tr>
              <div class="task-box list-value">
               <input type="checkbox" class="checkboxx" list-item-id="<%= listitems[i]._id %>" id=<%= n %> > <!--id for each checked item-->
               <h3 class="inputh3"><%= listitems[i].note %></h3> <!-- displays the value for the note key from the database -->
              </div>
              <td>
              <!-- <a class="list-edit"> -->
                <span class="dropdown text-gradient">
                  <a data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  <i class="fa-solid fa-pen-to-square crud edit"></i></a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/update?id=<%= listitems[i]._id %>">Edit Task</a>  <!-- USE THE HREF TO DETERMINE WHICH ITEM TO UPDATE -->
                  </div>
                </span>  
              <!-- </a> -->
              <a class="delete" data-id="<%= listitems[i]._id %>" > <!--id to delete data-->
                <span class="text-gradient">
                  <i class="fa-solid fa-trash-can crud delete-icon"></i>
                </span>
              </a>
              </td>
            </tr>
        </div>
        <% } %>
        <!-- ends the loop function -->
        
        </div> <!--div starts on list form, ends on list data-->
            
      <!-- include footer -->
      <%- include('footer') %>
      <!-- /include footer -->
